// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

@import "src/styles/variables";
@import "src/styles/font";
@import "src/styles/text";
@import "src/styles/button";
@import "src/styles/error";

@import "src/styles/theme";

@import "src/styles/page";
@mixin full-screen-gradient-background() {
  background: linear-gradient(to top, $background-color-2 0, $background-color-3 100%), #000000;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// override the rules from Angular Material so that caret is more visible
.mdc-text-field .mdc-text-field__input {
  caret-color: inherit;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.34);
  backdrop-filter: blur(10px);
}

:root {
// override the rules from Angular Material so that the floating label is more visible
  --mdc-filled-text-field-focus-label-text-color: rgba(255, 255, 255, 0.6);
}


body {
  margin: 0;
  padding: 0;

  // Set the background image
  background-image: url('../assets/img/2023-10-26_11.35.35.png');
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */

  // Optionally, add other styles for the background, like fixed position
  background-attachment: fixed;
}
