// Define your gradient colors
$color-1: rgba(149, 46, 238, 0.2);
$color-3: #774DFF;

$background-color-3: rgba(75, 68, 153, 0.2);
$background-color-2: rgba(149, 46, 238, 0.2);
$background-color-1: #1C1C1C;

$transparency: 0.5;

$font-color-1: #DEDEDE;
$font-color-2: #ffffff;

$button-gradient: linear-gradient(180deg, rgba(255, 47, 47, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
$button-background: $button-gradient, $color-3;

$shadow: rgba(0, 0, 0, 0.13) 0px 5px 10px 5px;


$mobile: 400px;
