
<div class="menu-break">
  <div class="contact-list">
    <button mat-button class="contact-button">
      <img class="contact-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/1245px-Logo_of_Twitter.svg.png" alt="">
    </button>

    <button mat-button class="contact-button">
      <img class="contact-icon" src="https://www.svgrepo.com/show/353655/discord-icon.svg" alt="">
    </button>
    <button mat-button class="contact-button">
      <img class="contact-icon" src="https://openclipart.org/image/2000px/216530" alt="">
    </button>
  </div>
  © {{currentYear}} Tomasz Banaś

</div>
