<div class="menu-break">
  <div class="contact-list">
    <a target="_blank" mat-button class="contact-button" href="https://twitter.com/StoryCraftTeam">
      <!--      twitter-->
      <img class="contact-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/1245px-Logo_of_Twitter.svg.png" alt="">
    </a>
    <a target="_blank" mat-button class="contact-button" href="https://discord.gg/WSJkunYXQu">
      <!--      discord-->
      <img class="contact-icon" src="https://www.svgrepo.com/show/353655/discord-icon.svg" alt="">
    </a>
    <a mat-button class="contact-button" href="mailto:StoryCraftMC@proton.me">
      <!--      mail-->
      <img class="contact-icon" src="/assets/icons/mail.png" alt="">
    </a>
  </div>
  © {{currentYear}} Tomasz Banaś

</div>
