@import "src/styles/styles";
@import "../app.component.scss";

:host{
  text-align: center;
}

.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 2em;
  gap: 2em;
}

.contact-list > .contact-button {
  width: 130px;
  height: 90px;
}
.contact-list > .contact-button > .mdc-button__label {
  display: none;
}
.contact-icon {
  width: 60px;
  height: 60px;
}


