<div class="menu-section info-flex menu-section-thin">

  <h1 class="minecraft-header page-title">Info</h1>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Event Rules</h2>

    <div class="info-row-content">
      <p><b>Team Allocation</b>: Players are divided into four teams of five.</p>
      <p><b>Island Assignment</b>: Each team starts on their own island. Team leaders can request what theme of an
        island they would want.</p>
      <p><b>Death</b>: Each player has three lives. Upon losing all lives, the player is out of the game.
      </p>
      <p><b>Role-Playing</b>: Players role-play is recommended, but not required, it's all about having fun!</p>
      <p><b>Win Condition</b>: There will be no definitive win condition. Each team can decide on their own goals and if
        they achieved it.</p>
      <p><b>Game Sessions</b>: Server will not be 24/7. It will be up during specified "game sessions" which will be 4 hours long.</p>
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Teams</h2>

    <div class="info-row-content">
      <p><b>Team name</b>: Pick a name of your team, it should not be a "funny" name like "Smurf Cats" and shouldn't contain any "funny" wordplay.</p>
      <p><b>Team color</b>: Chosen color will be a tint of team members name tags in chat and in game. </p>
      <p><b>Island theme</b>: Choose the theme like "jungle" or "desert", please do not pick a theme that would obviously give you unfair advantage like "diamond island".</p>
      <p><b>Team size</b>: Team should have 5 players each. If all teams agree on increasing the team size it can be done.</p>
      <p><b>Team goal</b>: As a team you should specify some type of goal. It could be conquer, architecture or recourse type of goal.</p>
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Requirements</h2>

    <div class="info-row-content">
      <p><b>Official or pirated copy of Minecraft</b>: Every player needs to have Minecraft download before the games start.</p>
      <p><b>Discord Account</b>: Most of communication with the administration and other players will be happening over said platform. </p>
      <p><b>Free time</b>: We of course understand that people have their own lives, but please take to account how hard it is to organize so many people. Ensure you will be able to play for those 3-4 hours.</p>
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header  info-row-title">Calendar</h2>

    <div class="info-row-content">
      <p><b>2023.12.01</b>: All teams need to be assembled</p>
      <p><b>2023.12.03</b>: All players need to be on official StoryCraft Discord server</p>
      <p><b>2023.12.05 18:30 CET</b>: Server start</p>
      <p><b>2023.12.05 19:00 CET</b>: Game start</p>
      <p><b>2023.12.05 23:00 CET</b>: Server shutdown</p>
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Server</h2>

    <div class="info-row-content">
      <p><b>Anti-cheat</b>: Server will have Vulcan anti-cheat installed
      <p><b>Performance</b>: We assure stable performance and and "good" TPS
      <p><b>Server's Location</b>: Sever is stationed in Poland
      <p><b>Authentication</b>: Because we want to allow people with pirated Minecraft to join us we will be using UserLogin 2.13.1 plugin
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">General Rules</h2>

    <div class="info-row-content">
      <p><b>Privacy Respect</b>: Do not share personal information about yourself or others on the server without consent.</p>
      <p><b>Respectful Conduct</b>: Use courteous language and behavior. Harassment, hate speech, and bullying are strictly prohibited.</p>
      <p><b>No Cheating</b>: Any form of cheating, hacking, or use of unapproved mods that give an unfair advantage is forbidden.</p>
      <p><b>Community Engagement</b>: Participate in community events and cooperate with others to enhance the gameplay experience for everyone.</p>
      <p><b>Reporting Issues</b>: If you encounter bugs, glitches, or rule-breaking behavior, report them to the moderators immediately.</p>

    </div>
  </div>
</div>
<app-footer/>
