<div class="menu-section info-flex menu-section-thin">

  <h1 class="minecraft-header page-title">Info</h1>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Zasady</h2>

    <div class="info-row-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum nesciunt officia possimus provident
      quae
      quis quisquam repellendus. At autem corporis cumque dicta doloribus facilis ipsum obcaecati qui soluta temporibus.

    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Wymagania</h2>

    <div class="info-row-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad asperiores at, corporis, cupiditate debitis
      eligendi expedita incidunt minus nam nihil numquam odit officiis quo quod reprehenderit sapiente sequi sunt?
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header  info-row-title">Kalendarz</h2>

    <div class="info-row-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, aliquid aperiam cupiditate dolore ex
      expedita impedit inventore iure laborum maiores, maxime nisi, numquam perferendis quae repellendus temporibus
      tenetur velit!
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Organizacja</h2>

    <div class="info-row-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad asperiores at, corporis, cupiditate debitis
      eligendi expedita incidunt minus nam nihil numquam odit officiis quo quod reprehenderit sapiente sequi sunt?
    </div>
  </div>

  <div class="menu-section-part info-row">
    <h2 class="minecraft-header info-row-title">Specyfikacje</h2>

    <div class="info-row-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad asperiores at, corporis, cupiditate debitis
      eligendi expedita incidunt minus nam nihil numquam odit officiis quo quod reprehenderit sapiente sequi sunt?
    </div>
  </div>
</div>
<app-footer/>
