@import "src/styles/styles";

.center {
  margin: auto;
  text-align: center;
}

.menu-break {
  background-color: $background-color-1;
  width: 100vw;
  padding-top: 3em;
  padding-bottom: 3em;
}

.window {
  width: 100vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  font-family: 'Minecraft', serif;

  font-size: 78px;

  text-shadow: -1px -1px 0 #000, /* Top-left shadow (black) */
  1px -1px 0 #000, /* Top-right shadow (black) */
  -1px 1px 0 #000, /* Bottom-left shadow (black) */
  1px 1px 0 #000, /* Bottom-right shadow (black) */
  3px 3px 3px #000;

  @media (max-width: 1050px) {
    font-size: 48px; // Reduce font size for smaller screens
  }

  @media (max-width: 650px) {
    font-size: 26px; // Reduce font size for smaller screens
  }
}

.logo-subtitle {
  font-family: 'Minecraft', serif;

  font-size: 35px;

  text-shadow: -1px -1px 0 #000, /* Top-left shadow (black) */
  1px -1px 0 #000, /* Top-right shadow (black) */
  -1px 1px 0 #000, /* Bottom-left shadow (black) */
  1px 1px 0 #000, /* Bottom-right shadow (black) */
  3px 3px 3px #000;

  @media (max-width: 1050px) {
    font-size: 23px; // Reduce font size for smaller screens
  }
  @media (max-width: 650px) {
    font-size: 15px; // Reduce font size for smaller screens
  }
}

.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 2em;
  gap: 2em;
}

.contact-list > .contact-button {
  width: 130px;
  height: 90px;
}
.contact-list > .contact-button > .mdc-button__label {
  display: none;
}
.contact-icon {
  width: 50px;
  height: 50px;
}


.menu-section {
  background-color: aliceblue;
  width: 100vw;
  padding-top: 5em;
  padding-bottom: 5em;

  font-family: 'Minecraft', serif;
  font-size: 1.2em;
  font-smooth: never;
  color: #1C1C1C;
  line-height: 26px;
}

.menu-section-part {
  max-width: 950px;
  margin: auto;

  display: flex;
  gap: 50px;
}

.menu-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.menu-section-row > div {
  @media (min-width: 992px) {
    width: 100%;
  }
}

.minecraft-header {
  font-family: 'Minecraft', serif;
  font-size: 1.8em;
  font-smooth: never;
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.masked-image > img {
  height: inherit;
  width: inherit;

  top: 50%; /* Move the top edge of the image to the vertical center */
  left: 50%; /* Move the left edge of the image to the horizontal center */
  transform: translate(-50%, -50%);
  position: absolute;


}

.masked-image {
  height: 400px;
  width: 400px;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 475px;

  display: block;
  position: relative;

  @media (max-width: 992px) {
    height: 300px;
    width: 400px;
    mask-size: 400px 320px;
  }
}

.mask-1 {
  -webkit-mask-image: url('~src/assets/mask-image.png');
  mask-image: url('~src/assets/mask-image.png');
}
.mask-2 {
  -webkit-mask-image: url('~src/assets/mask-image2.png');
  mask-image: url('~src/assets/mask-image2.png');
}




