<div class="window">
  <h1 class="logo">StoryCraft Experiment</h1>
  <h2 class="logo-subtitle">Battle of civilisations</h2>
</div>
<div class="menu-break">
  <h2 class="center" style="">
    Nowy sposób gry w Minecraft!
  </h2>
</div>


<div class="menu-section menu-section-full">
  <div class="menu-section-part info-flex">
    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">200 Graczy</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, culpa cupiditate dicta dignissimos,
        explicabo libero magni minima modi mollitia necessitatibus optio quibusdam ratione recusandae rem repudiandae
        sunt
        veniam voluptates voluptatibus?
      </div>

      <div class="masked-image mask-1">
        <img src="assets/img/2023-10-28_20.23.11.png"/>
      </div>
    </div>

    <div class="menu-section-row">
      <div class="masked-image mask-2">

        <img src="assets/img/2023-10-28_20.27.32.png"/>
      </div>

      <div>
        <h3 class="minecraft-header">Wysoki standard RP</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi dolorum eos ipsam obcaecati
        perspiciatis
        unde veritatis? Corporis eos magni numquam praesentium quibusdam sequi soluta tenetur. Corporis incidunt placeat
        sunt.
      </div>
    </div>

    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">Organizacja</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam beatae corporis dignissimos et in
        incidunt
        magni natus, nostrum odit placeat sed sit soluta suscipit tempora unde ut voluptatem voluptatibus.
      </div>

      <div class="masked-image mask-1">
        <img src="assets/img/2023-10-26_11.35.26.png"/>
      </div>
    </div>
    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">Zasady</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam aut consequuntur cum dolor eligendi facere
        laboriosam laborum magni, necessitatibus non odio odit quas reprehenderit sunt velit voluptas? Ducimus, ea!
      </div>
    </div>

  </div>
</div>
<app-footer/>
