<div class="window">
  <h1 class="logo">StoryCraft Experiment</h1>
  <h2 class="logo-subtitle">Battle of civilisations</h2>
</div>
<div class="menu-break">
  <h2 class="center" style="">
    Amazing new way to enjoy Minecraft
  </h2>
</div>


<div class="menu-section menu-section-full">
  <div class="menu-section-part info-flex">
    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">Welcome to the StoryCraft</h3>
        Welcome to a unique challenge where 20 players are divided into teams of six and placed on their own islands. Engage in a spirited contest of wits, strategy, and collaboration. The clock is ticking—maximize your team's potential before time runs out!
      </div>

      <div class="masked-image mask-1">
        <img src="assets/img/2023-10-28_20.23.11.png"/>
      </div>
    </div>

    <div class="menu-section-row">
      <div class="masked-image mask-2">

        <img src="assets/img/2023-10-28_20.27.32.png"/>
      </div>

      <div>
        <h3 class="minecraft-header">Embark on a Quest!</h3>

        In a realm where danger and opportunity coexist, engage in intense role-play, strategize in complex quests, and forge alliances. Your survival skills will be tested to the limits. Are you ready to take on the challenge?
      </div>
    </div>

    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">Unite and Conquer!</h3>
        Join forces with your team on your own secluded island. Share resources, face adversaries, and cooperate to overcome the unpredictable challenges that await. Remember, unity is your greatest weapon.
      </div>

      <div class="masked-image mask-1">
        <img src="assets/img/2023-10-26_11.35.26.png"/>
      </div>
    </div>
    <div class="menu-section-row">
      <div>
        <h3 class="minecraft-header">Survive, Thrive, and Be Alive!</h3>
        With only three lives, each decision can mean the difference between victory and defeat. Navigate through treacherous terrains, craft your story, and emerge as the ultimate survivor in this thrilling Minecraft challenge!
      </div>
    </div>

  </div>
</div>
<app-footer/>
