@import "src/styles/styles";


.tool-bar {
  position: fixed;
  top: 0; // Stick it to the top of the viewport
  left: 0; // Align it to the left
  right: 0; // Align it to the right
  z-index: 100; // Adjust the z-index as needed
}

.example-spacer {
  width: 2em;
}

.menu-break {
  background-color: $background-color-1;
  width: 100vw;
  padding-top: 3em;
  padding-bottom: 3em;
}

.menu-section-full {
  width: 100vw;
}

.menu-section-thin {
  max-width: 60rem;
  margin: auto;
}

.menu-section {
  background-color: aliceblue;
  padding-top: 5em;
  padding-bottom: 5em;

  font-family: 'Minecraft', serif;
  font-size: 1.2em;
  font-smooth: never;
  color: #1C1C1C;
  line-height: 26px;
}


.menu-section-part {
  max-width: 1050px;
  margin: auto;

  padding-right: 1em;
  padding-left: 1em;
}

.menu-section-part-flex {
  display: flex;
  gap: 50px;
}

@mixin minecraft-font {
  font-family: $minecraft-font;
  font-smooth: never;
}

h1.minecraft-header {
  @include minecraft-font;

  font-size: 2.1rem;

  text-align: center;
}

h2.minecraft-header {
  @include minecraft-font;

  font-size: 1.5rem;
}

h3.minecraft-header {
  @include minecraft-font;

  font-size: 1.3rem;
}

.page-title {
  margin-top: 1.5em;
}
